<div class="container">

<div class="user-info">
  <div class="user-info-left">
  <% if @user.name == nil %>
    <h2> Welcome <%= @user.email %> </h2>
  <% else %>
    <h2> Welcome <%= @user.name %> </h2>
  <% end %>
  <p> Name : <%= @user.name %> </p>
  <p> Email : <%= @user.email %> </p>
  <p> Phone : <%= @user.phone %> </p>
  <p> GitHub Username : <%= @user.github_username %> </p>
  <%= link_to "Edit", edit_user_path, class: "btn btn-primary", remote: true %>
  </div>
  <div id="user-info-right">
  </div>
</div>

<% if @user.cars.count >= 1 %>
  <%= render 'mycars' %>
  <% end %>

<% if @user.rentals.count >= 1 %>
  <%= render 'myrentals' %>
  <% end %>

</div>
