<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag("logo.png", :alt => "Vavavoom Logo") %>
  </a>

  <input class="myInp" type="text" name="search" placeholder="Search..">

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Host</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Trips</a>
    <%= link_to "Sign In", new_user_session_path(current_user)%>

    <!-- Profile picture with dropdown list -->
    <% if current_user != nil %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
            <img src=<%="https://kitt.lewagon.com/placeholder/users/#{current_user.github_username}"%> class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to "Dashboard", user_path(current_user) %></li>
            <li><%= link_to "Log Out", destroy_user_session_path(current_user), method: :delete%></li>
          </ul>
        </div>
      </div>
    <% end  %>
 </div>
</div>
