
<div class="container">
  <div class="container-double">


    <div class="carte-img">
      <%= cl_image_tag @car.photo, class: "img-show", crop: :fill %>
    </div>

    <div class="carte-text">

      <div class="top-bar-title text-center">
      <h4> <strong> <%= @car.brand %> <%= @car.model %> <%= @car.year %></strong> </h4>
      </div>

      <ul class="list-sans-dec">
        <li> <strong> Brand: </strong> <%= @car.brand %></li>
        <li> <strong> Model: </strong>  <%= @car.model %></li>
        <li> <strong> Year: </strong>  <%= @car.year %></li>
        <li> <strong> Color: </strong>  <%= @car.color %></li>
        <li> <strong> £ <%= @car.price %> /day </strong> </li>
        <li> <strong> Description: </strong><%= @car.description %></li>
      </ul>

      <%= link_to "Book This Car", new_car_rental_path(@car), class: "btn btn-danger" %>

    </div>
  </div>
</div>




