
<div class="container-bigdouble">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="container-double">
      <div class="carte-img">
        <%= cl_image_tag @car.photo, class: "img-show", crop: :fill %>
      </div>

      <div class="carte-text">
        <h3><%= @car.brand %> <%= @car.model %> <%= @car.year %> </h3>
        <ul class="list-sans-dec">
          <li> Brand: <%= @car.brand %></li>
          <li> Model: <%= @car.model %></li>
          <li> Year: <%= @car.year %></li>
          <li> Price: <%= @car.price %></li>
          <li> Description: <%= @car.description %></li>
        </ul>
      </div>
    </div>
      <%= link_to "All Cars", root_path, class: "btn-treehouse" %>
      <%= link_to "Book This Car", new_car_rental_path(@car), class: "btn btn-primary" %>
  </div>
</div>




